@use '/src/shared';

.header {
  border-bottom: shared.$default-border;
  height: shared.$header-height;
  .navigation {
    display: flex;
    justify-content: start;
    gap: 0.5rem;

    .links {
      padding: 0.625rem 1.25rem;
      display: flex;
      gap: 1.25rem;

      .link {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .panel-buttons {
      display: flex;
      gap: 1.25rem;
      .panel-button {
        @include shared.unbuttonize;
        font-size: 0.875rem;
        color: shared.$secondary-color;
        padding: 0 0.25rem;
        cursor: pointer;
        &-active {
          color: shared.$main-color;
          border-bottom: solid 2px white;
        }
      }
    }
  }
}
