@use '/src/shared';

.tab-selector {
  width: 100%;
  display: flex;
  border-bottom: shared.$default-border;
  background-color: #27272a;
  .tab {
    padding: 0.75rem 1rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: shared.$main-color;
    border-right: shared.$default-border;
  }
}
