@use '/src/shared';

.home-page {
  min-height: calc(100vh - shared.$header-height - 1px);
  position: relative;
  background-color: #202124;
  .content {
    height: max-content;
    margin-left: shared.$sidebar-width;
  }
}
