@use '/src/shared';
%bottom-line {
  border-bottom: shared.$default-border;
  font-size: 0.875rem;
}

.table-wrapper {
  padding: 0.75rem 0.625rem;
  overflow-x: auto;

  .works-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    .works-table-row {
      .works-table-header {
        @extend %bottom-line;
        color: shared.$secondary-color;
        padding: 0 0.75rem 0.75rem 0.75rem;
        font-weight: 400;
        line-height: 1.3;
      }
      .works-table-cell {
        @extend %bottom-line;
        color: shared.$main-color;
        padding: 1.125rem 0.75rem 1.125rem 0.75rem;
        line-height: 1;

        .button-wrapper {
          display: flex;
          height: 1.5rem;
          width: min-content;
          border-radius: 0.375rem;

          .interactive-button {
            @include shared.unbuttonize;
            height: 1.5rem;
            width: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
          }
          .hidden-unhover {
            opacity: 0;
          }
          &:hover {
            background-color: shared.$border-color;
            .hidden-unhover {
              opacity: 100;
            }
          }

          .hline {
            border-top: 1px solid #c6c6c6;
            height: 1px;
            position: absolute;
          }
          .vline {
            border-right: 1px solid #c6c6c6;
            width: 1px;
            position: absolute;
          }
        }
      }

      .works-table-cell-input {
        @extend %bottom-line;
        color: shared.$main-color;
        padding: 0.687rem 0.75rem 0.687rem 0.75rem;
        .cell-input {
          border: solid 1px shared.$border-color;
          outline: none;
          background-color: #202124;
          color: #71717a;
          border-radius: 0.375rem;
          font-size: 0.875rem;
          line-height: 1;
          padding: 0.625rem;
          width: 100%;
          box-sizing: border-box;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type='number'] {
            -moz-appearance: textfield;
          }
        }
      }
      .small-coll {
        min-width: 6.875rem;
      }
      .medium-coll {
        width: 12.5rem;
      }
      .large-coll {
        width: 47.3rem;
      }
    }
  }
}
